{% extends 'base.html' %}
{% load static %}


{% block content %}


    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading about-page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>О нас</h2>
                        <span>ROZIYAM SHOP премиум товары из Турции</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-image">
                        <img src="{% static 'images/about-left-image.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <h4>About Us &amp; Our Skills</h4>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod kon tempor incididunt ut labore.</span>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiuski smod kon tempor
                                incididunt ut labore.</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod kon tempor incididunt
                            ut labore et dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip.</p>
                        <ul>
                            <li><a href="https://t.me/ROZIYAM_SHOP" target="_blank"><i class="fab fa-telegram"
                                                                                       aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/reel/C8vtgHcIAe_/?igsh=MTlxMWdqMGdqenR1ZA=="
                                   target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"
                                                                                      aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** About Area Ends ***** -->

    <!-- ***** Subscribe Area Starts ***** -->
    <div class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-heading">
                        <h2>Есть вопросы?</h2>
                        <span>Отправьте нам.</span>
                    </div>
                    <form id="subscribe" action="" method="get">
                        <div class="row">
                            <div class="col-lg-5">
                                <fieldset>
                                    <input name="name" type="text" id="name" placeholder="Введите имя" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-5">
                                <fieldset>
                                    <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*"
                                           placeholder="Введите почту" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-2">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-dark-button"><i
                                            class="fa fa-paper-plane"></i></button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <li>Адрес:<br><span>Toshkent shaxar</span></li>
                                <li>Телефон:<br><span>+998 97 775 31 32</span></li>
                                <li>Офис адрес:<br><span>Toshkenni kindigi</span></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li>Рабочее время:<br><span>07:30 - 21:30 ежедневно</span></li>
                                <li>Email:<br><span>murodxon@company.com</span></li>
                                <li>Социальные сети:<br><span><a href="https://www.facebook.com">Facebook</a>, <a
                                        href="https://www.instagram.com/reel/C8vtgHcIAe_/?igsh=MTlxMWdqMGdqenR1ZA==">Instagram</a>, <a
                                        href="https://t.me/ROZIYAM_SHOP">Telegram</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Subscribe Area Ends ***** -->


    <script>

        $(function () {
            var selectedClass = "";
            $("p").click(function () {
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("." + selectedClass).fadeOut();
                setTimeout(function () {
                    $("." + selectedClass).fadeIn();
                    $("#portfolio").fadeTo(50, 1);
                }, 500);

            });
        });

    </script>

{% endblock content %}
